@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Google Sans Regular" ;

}
main{
    width:100%;
    height:65px;
    background:#11001b;
    color:#fefefe;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0px;
}
i.fa-bars{
    font-size:25px;
    padding:20px;
    transition:.1s;
}
i.fa-bars:active{
    background:rgba(255,255,255,.2);
}
#ul-mobile{
    width:180px;
    height:0px;
    overflow:hidden;
    background:#11001b;
    text-align:center;
    color:#fefefe;
    transition:.4s;
    position: absolute;
    padding:0 20px;
}
main li i{
    padding:10px;
    font-size:20px;
}
main li{
    list-style-type:none;
    transition:.2s;
    padding:7px;
}
main li:hover{
    background:rgba(255,255,255,.3);
    scale:0.9;
}
main li a{
    text-decoration:none;
    color:#fefefe;
    font-size:19px;
    cursor:pointer;
}
main h3{
    font-size: 22px;
}
.barner{
    background-image: url(image/Screenshot_20230808-204508.jpg) ;
    background-size: contain;
    justify-content:center;
    margin-bottom: 20px;
    margin-top: 10px;
  
}
.welc{
    background-color:rgba(13, 13, 29,0.3);
    width: 100%;
    text-align: center;
    color:#fefefe;
    font-size:20px ;
}
.welc h1{
    color:#fefefe;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
.welc p{
    color:#fefefe;
    font-weight: bolder;
}
.welc .wel{
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.welc .well{
    font-size: 20px;
    font-style: oblique;
    padding: 0;
}
.img0 img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}
.img0{
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content:space-around;
}
.img0  h1{
    background-color:#11101b;
    color: #fefefe;
    margin: 5px;
    padding: 20px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 100px;
    font-style: oblique;
    text-align: center;
}
.bri{
    background-color:rgb(243, 242, 242) ;
    padding: 20px;
}
.img2{
    margin-top: 5rem;
}
.pic img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.pic{
    display: flex;
    justify-content:space-evenly;
    margin:10px;
}
.pic1{
    background-color:rgb(243, 242, 242) ;
    padding: 10px;
}
.pic1 h2{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}
.pic1 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 200px;
    text-align: justify;
    padding: 20px;
}
.hit1{
    background-color:rgb(212, 205, 205);
}
.hit{
    background-color:rgb(243, 242, 242);
    margin: 5px;
    text-align: center;
}
.hit h1{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    margin-bottom: 10px;
    font-weight: 200px;
    text-align: center;
    padding: 5px;
}
.hit p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    padding: 10px;
}
.hit li{
    text-decoration: none;
    list-style-type: style ;
    margin: 20px;
    text-align:start;

}
.hit img{
    width: 80%;
    height:80% ;
    margin: 40px;
    object-fit: contain;
}
.map{
    background-color: rgb(243, 242, 242) ;
    margin-top: 20px;
    text-align: center;
    margin: 10px;
    
}
.map h1{
    font-size:40px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}
.map img{
    width: 50%;
    height: 50%;
    object-fit: contain;

}
.foot{
    background: linear-gradient(#fefefe,#11101b);
    margin-top: 60px;
    text-align: center;
}
.foot h1{
    font-size: 45px;
    padding-top: 80px;
    font-weight: 200px;
    font-family: 'Times New Roman', Times, serif;
}
.foot p{
     font-size: 20px;
     font-style: italic;
     font-weight: bold;
     padding-bottom:0;
}
.copy p{
    color: black;
    font-size: 20px;
    padding-bottom: 8rem;
}
.place{
    background-color: rgb(252, 245, 245);
}
.img00{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 20px;
    text-align: center;
}
.img00 h1{
     margin-bottom: 20px;
}
.img00 p{
    font-size: 20px;
   margin: 20px;
   padding-bottom: 20px;
}
.img00 img{
    width: 80%;
    height: 120%;
    object-fit:contain;

}
.hey{
    font-size:50px ;
    text-align: center;
    margin: 30px;
}
